ASPNETCORE_TEMP = "/temp"

MYSQL_ROOT_PASSWORD = ""
MYSQL_DATABASE = ""
MYSQL_USER = ""
MYSQL_PASSWORD = ""
MYSQL_PORT = 
MYSQL_PORT_INTERNAL = 

REDIS_ROOT_PASSWORD = ""
REDIS_USER = ""
REDIS_USER_PASSWORD = ""
REDIS_PORTS = ":"
REDIS_INTERNAL_PORT =

RABBITMQ_APP_PORT_DEFAULT =  
RABBITMQ_APP_PORT_VIRTUAL =  
RABBITMQ_WEBPAGE_PORT = ":"
RABBITMQ_DEFAULT_USER = ""
RABBITMQ_DEFAULT_PASS = ""

JWT_SECRET_KEY = ""
JWT_ISSUER = ""
JWT_AUDIENCE = ""
TOKENVALIDITYMINS = 

DOMAIN_OWNER=
REGION=
NUGET_REPO_NAME=
