ASPNETCORE_TEMP = "/temp"

# HOME_ENVIRONMENT = "Default"

MYSQL_ROOT_PASSWORD = ""
MYSQL_DATABASE = "trainee_management_db"
MYSQL_USER = ""
MYSQL_PASSWORD = ""
MYSQL_PORT = 3307
MYSQL_PORT_INTERNAL = 3306
MYSQL_IMAGE_LINK = docker-registry-002.zeuslearning.com/zeuslearning/


REDIS_ROOT_PASSWORD = ""
REDIS_USER = ""
REDIS_USER_PASSWORD = ""
REDIS_PORTS = "6379:6379"
REDIS_INTERNAL_PORT =6379
REDIS_IMAGE_LINK = docker-registry-002.zeuslearning.com/zeuslearning/

RABBITMQ_APP_PORT_DEFAULT =  5672
RABBITMQ_APP_PORT_VIRTUAL =  5672
RABBITMQ_WEBPAGE_PORT = "15672:15672"
RABBITMQ_DEFAULT_USER = ""
RABBITMQ_DEFAULT_PASS = ""
RABBITMQ_IMAGE_LINK = docker-registry-002.zeuslearning.com/zeuslearning/

JWT_SECRET_KEY = ""
JWT_ISSUER = ""
JWT_AUDIENCE = ""
TOKENVALIDITYMINS = 60

DOMAIN_OWNER=824100177805
REGION=ap-south-1
NUGET_REPO_NAME=training-nuget-store